# MongoDB credentials
MONGO_ROOT_USERNAME=votre_username
MONGO_ROOT_PASSWORD=votre_password
MONGO_DATABASE=medical_db

# URI pour Docker (communication entre conteneurs via nom de service "mongo")
MONGO_URI=mongodb://votre_username:votre_password@mongo:27017/medical_db?authSource=admin

# URI pour scripts Python locaux (connexion via localhost)
MONGO_URI_LOCAL=mongodb://votre_username:votre_password@localhost:27017/medical_db?authSource=admin

# Chemin du CSV
CSV_PATH=data/healthcare_dataset.csv